
<div>
    <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center mr-6">
        <h2 class="mb-5 is-size-4">Account Details</h2>
    </div>

    <p>Enter your current password to be able to edit information:</p>

    <hr>

    <h2 class="mb-5 is-size-5">Identifying Information</h2>

    <p id="fname_p">First Name: -</p>

    <p id="lname_p">Last Name: -</p>

    <p id="email_p">Email: -</p>

    <hr>

    <h2 class="mb-5 is-size-5">Change Password</h2>

    <p id="new_pass_p">New Password</p>

    <p id="rep_new_pass_p">Repeat New Password</p>
</div>