
<h1 class="is-size-4">Manage Plan For "{{site.name_lbl}}"</h1>
<h3 id="current_plan_heading" class="is-size-5">Current Plan: -</h3>

<br>

<div class="columns mr-2">
    <div class="column box mx-2 content">
        <h2>Basic</h2> <!-- class="is-size-2" -->
        <ul>
            <li>1 Core</li>
            <li>128 MB of memory</li>
            <li>No terminal</li>
        </ul>
        <p>Sufficient for simple websites, like an site about yourself or an information portal.</p>
        <hr>

        <p>$2.99/Year</p>

        <div id="basic_div"></div>
    </div>
    <div class="column box mx-2 content">
        <h2>Standard</h2>
        <ul>
            <li>2 Cores</li>
            <li>512 MB of memory</li>
            <li>No terminal</li>
        </ul>
        <p>For sites that need more than the bare minimum functionality and interactivity. Good for sites that need to run heavy JavaScript code.</p>
        <hr>

        <p>$4.99/Year</p>

        <div id="standard_div"></div>
    </div>
    <div class="column box mx-2 content">
        <h2>Pro</h2>
        <ul>
            <li>4 Cores</li>
            <li>1 GB of memory</li>
            <li>Access to Bash terminal</li>
        </ul>
        <p>If you have a heavy-duty site and need full control over the server, this is the plan for you.</p>
        <hr>

        <p>$99.99/Year</p>

        <div id="pro_div"></div>
    </div>
    <div class="column"></div>
</div>

<a href="{{ url_for('dashboard') }}" class="button">Back to Dashboard</a>

<input id="siteID" type="hidden" value={{site.id}}>
<input id="sitePlan" type="hidden" value={{site.plan}}>
