<h1 class="is-size-4">Manage sharing for site "{{ site.name_lbl }}"</h1>

<dialog id="create_new_share_dialog">
    <h1 class="is-size-4">Share with new user</h1>
    <hr>
    <form method="POST" action="{{ url_for('handle_share_site_route', site_id=site.id) }}" enctype="multipart/form-data">
        {{form.hidden_tag()}}

        <div class="field">
            {{form.other_id.label(class="label")}}
            {{form.other_id(class="input is-primary", list="user_share_list")}}
            <datalist id="user_share_list">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.fname }} {{ user.lname }} ({{ user.email }})</option>
                {% endfor %}
            </datalist>
        </div>

        <div class="is-flex is-flex-direction-row is-justify-content-end is-align-items-center">
            {{form.submit(class="button is-link")}}
            
            <button type="button" class="button is-light ml-2" onclick="this.parentNode.parentNode.parentNode.close();">Cancel</button>
        </div>

    </form>
</dialog>

<input id="siteID" type="hidden" value="{{site.id}}">

<table class="table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>
            <i class="link_btn fa-solid fa-plus" onclick="create_new_share_dialog.showModal()"></i>
        </th>
    </thead>
    <tbody id="shared_body"></tbody>
</table>

<a href="{{ url_for('dashboard') }}" class="button">Back</a>


<script>

    document.addEventListener('DOMContentLoaded', async ()=>{
        fill_shared();
    })

    async function fill_shared(){
        const site_id = document.getElementById('siteID').value

        const shared_body = document.getElementById('shared_body')
        const endpoint = `/shared_users_data/${site_id}/`
        console.log(endpoint)

        //add loader
        shared_body.appendChild(create_loader())

        //get data
        const response = await fetch(endpoint)
        const users = await validateJSON(response)
        console.log(users)
        console.log("done")

        //clear current children, and add loader
        shared_body.innerHTML = ""  //clear all children

        //insert data into table
        users.map((user)=>{
            //create row
            const tr = document.createElement('tr')
            
            //add ID col
            const user_id = document.createElement('td')
            user_id.innerText = user.id
            tr.appendChild(user_id)

            //add name col
            const user_name = document.createElement('td')
            user_name.innerText = user.name
            tr.appendChild(user_name)

            //add email col
            const user_email = document.createElement('td')
            user_email.innerText = user.email
            tr.appendChild(user_email)

            //add the delete button
            const del_btn = document.createElement('button')
            del_btn.addEventListener('click', (event)=>{
                unshare(site_id, user.id)
            })
            const icon = document.createElement('i')
            icon.classList.add('fa-solid')
            icon.classList.add('fa-trash')
            del_btn.appendChild(icon)
            tr.appendChild(del_btn)

            //add tr to body
            shared_body.appendChild(tr)
        })
    }

    async function unshare(site_id, user_id) {
        console.log('Unsharing site')

        //create and add loader
        const shared_body = document.getElementById('shared_body')
        shared_body.innerHTML = ""
        shared_body.appendChild(create_loader())

        //delete record and get results
        fetch(`/unshare_site/${site_id}/${user_id}/`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            //body: JSON.stringify(dataToSend),
        })
            .then(response => {
                //check if the request was successful (status code 2xx)
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                //if the response is ok, refresh the table
                console.log('refreshing table')
                fill_shared()
            })
            .catch(error => {
                //handle errors during the fetch
                console.error('Fetch error:', error);
            });
    }
</script>