{% extends "main.html" %}

{% block body %}

<a href="/sites/">Cancel</a>
<br>

<h1>Share Site</h1>

<p>You can share your website with other users to let them view information about your site and upload files.</p>

<p>To add a user, enter their ID.</p>

<P>Your ID: {{current_user.id}}</P>

<h2>Share with New User</h2>
<form method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}

    {{form.other_id.label}}
    {{form.other_id()}}
    <br>

    {{form.submit()}}
</form>

<h2>Currently Shared With</h2>
<table>
    <thead>
        <th>ID</th>
        <th>Email</th>
        <th>Unshare</th>
    </thead>
    <tbody id="shared_body"></tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', async ()=>{
        fill_shared();
    })

    //TODO: Not done
    async function fill_shared(){
        const user_websites_tbody = document.getElementById('shared_body')
        const endpoint = `{{ url_for('shared_users_json') }}`
        console.log(endpoint)

        //add loader
        user_websites_tbody.appendChild(create_loader())

        //get data
        const response = await fetch(endpoint)
        const websites = await validateJSON(response)
        console.log(websites)
        console.log("done")

        //clear current children, and add loader
        user_websites_tbody.innerHTML = ""  //clear all children

        //insert data into table
        websites.map((website)=>{
            //create row
            const tr = document.createElement('tr')
            
            //add site name col
            const site_name = document.createElement('td')
            site_name.innerText = website.name
            tr.appendChild(site_name)

            //add site id col
            const site_id = document.createElement('td')
            site_id.innerText = website.id
            tr.appendChild(site_id)

            //add image col
            const site_image = document.createElement('td')
            site_image.innerText = website.image
            tr.appendChild(site_image)

            //add visit link col
            const site_visit = document.createElement('td')
            const site_link = document.createElement('a')
            site_link.innerText = "Visit"
            site_link.href = "http://" + website.hostname
            site_visit.append(site_link)
            tr.appendChild(site_visit)

            //Add file upload link col
            const site_upload = document.createElement('td')
            const upload_link = document.createElement('a')
            upload_link.innerText = "Upload"
            upload_link.href = "/upload_files/" + website.id + "/"
            site_upload.append(upload_link)
            tr.appendChild(site_upload)

            //add the delete button
            const del_btn = document.createElement('button')
            del_btn.addEventListener('click', (event)=>{
                delete_site(website.id)
            })
            const icon = document.createElement('i')
            icon.classList.add('fa-solid')
            icon.classList.add('fa-trash')
            del_btn.appendChild(icon)
            tr.appendChild(del_btn)

            //add tr to body
            user_websites_tbody.appendChild(tr)
        })
    }
</script>

{% endblock %}